html{
	font-family: arial;
	color: #333;
}
body, body > div{
	min-height: 100vh;
}
a:active, a:visited{
	color: blue;
}
a{
	text-decoration: none;
}
ul{
	margin: 0;
	padding: 0;
	list-style-type: none;
}
main h1{
    border-bottom: 1px solid #ccc;
}
body{
	margin: 0;
}
body > div{
	display: flex;
	flex-direction: column;
}
header, footer{
	text-align: center;
	background-color: #ccc;
}
header{
	color: 		
}
main{
	width:60%;
    padding: 5px;
    /*border: 1px solid brown;*/
}
.content{
	display: flex;
	flex-grow: 1;
}
.col-left{
	padding: 20px;
    width: 200;
}
form > div{
    display:flex;

}
label {
	width: 120px;
	display: inline-block;
}
.campo{
	margin-bottom: 5px;
}

table {
	width:100%;
}
table th {
    padding: 5px;    
}
table td {
    text-align: center;
}
table tr:nth-child(even) td{
    background-color: #ccc;
}

footer{
	padding: 5px;
}
nav.top{
    display:flex;
    justify-content: space-between;
}
nav a{
    text-decoration: underline;
}
nav{
    padding-top: 5px;
    padding-bottom: 10px;
}
.search-results{
    display: flex;
    justify-content: space-between;
    border: 1px solid #888;
    border-radius: 5px;
    padding: 5px 10px;
    margin-bottom: 8px;
    color: #fff;
    background-color: #ff7b00;
    border: none;
}
.search-results p{
    margin: 0px;
}
.search-results a{
    color: #fff;
}
.top > form input[type=text]{
    padding: 5px;
}
.top > form input{
    height: 28px;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: #333;
}
